<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844009676274-oti3rbjsaj9daunjbq463i502c9m6858.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844009676274-oti3rbjsaj9daunjbq463i502c9m6858</string>
	<key>API_KEY</key>
	<string>AIzaSyCz-BbAfNncE09r4s2miEfa4Iyr2u0hJDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>844009676274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medh</string>
	<key>PROJECT_ID</key>
	<string>mtry-5f0e2</string>
	<key>STORAGE_BUCKET</key>
	<string>mtry-5f0e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844009676274:ios:9b9cf5c1e019276c5bdf6b</string>
</dict>
</plist>